@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 150 30% 4.9%;
    --foreground: 150 20% 98%;
    --card: 150 30% 4.9%;
    --card-foreground: 150 20% 98%;
    --popover: 150 30% 4.9%;
    --popover-foreground: 150 20% 98%;
    --primary: 152 76% 42%;
    --primary-foreground: 150 30% 4.9%;
    --secondary: 152 25% 15%;
    --secondary-foreground: 150 20% 98%;
    --muted: 152 25% 15%;
    --muted-foreground: 150 15% 60%;
    --accent: 152 25% 15%;
    --accent-foreground: 150 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 150 20% 98%;
    --border: 152 25% 17.5%;
    --input: 152 25% 17.5%;
    --ring: 152 70% 80%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  .monaco-editor {
    background-color: hsl(var(--background)) !important;
  }

  .monaco-editor .margin {
    background-color: hsl(var(--muted)) !important;
  }

  .monaco-editor-background {
    background-color: hsl(var(--background)) !important;
  }
}
